body {
    background-color: darkred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

h1 {
    text-align: center;
    color: chartreuse;
}

nav {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
}

a {
    color: aquamarine;
    border: solid;
    padding: 5px;
}

.container{
    width: 80%;
    margin: 10px auto;
    padding: 30px;
    border: 5px solid crimson;
}

img {
    width: 80%;
    margin: 10px;
}s